# Ignore dataset files
dataset/
*.npy

# Ignore model weights
*.pt

# Ignore Python cache and logs
__pycache__/
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore the generated or exported folder/file
CnnNormTimeFreq4DoA
